<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="DependencyVersion" value="Highest" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CulturalShare" value="https://nuget.pkg.github.com/YakovAkk/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <CulturalShare>
        <add key="Username" value="%GITHUB_USERNAME%" />
        <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </CulturalShare>
  </packageSourceCredentials>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>
